.Container {
    animation: fadeIn 2s;

}

body{
    background-color:transparent;
 }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
